<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>QuikSilver</string>
	<string>TopShop</string>
	<string>ASOS</string>
	<string>Intimissimi</string>
	<string>Calzedonia</string>
	<string>GAP</string>
	<string>American Apparel</string>
	<string>DC</string>
	<string>Roxy</string>
	<string>Nike</string>
	<string>Puma</string>
</array>
</plist>
